@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  .header__name, .header__job {
    margin-bottom: 1rem;
  }

  .header__social {
    display: flex;

    a {
      width: 1.5rem;
      margin: 0 0.5rem;
    }
  }
}

main {
  max-width: 30rem;

  hr {
    width: 75%;
    // margin: 1em 0;
    border: none;
    border-top: 1px solid #eee;
  }
}
