Hi there, I'm Alexandre, software developer at <a href="https://www.talentoday.com">Talentoday</a>.

I dabble mainly in websites development using technologies such as Ruby On Rails, Python3, VueJS, AngularJS. You could say I am a fullstack developer, I have worked in a startup environment for the past 4 years on high velocity projects where everything had to be done from developing websites to making them available online for thousands of people to use and scale both my skills and those of my teammates.
