<%= partial "partials/header" %>

<main>
  <article class="presentation">
    <%= partial "partials/presentation" %>
  </article>

  <hr>

  <article class="projects">
    <%= partial "partials/projects" %>
  </article>
</main>
